.intro {
  font-family: sans-serif;
  color: #736f4c;
  text-align: center;
}

.column1 {
  width: 400px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  background-color: #8caeb0;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}

.column2 {
  width: 400px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  background-color: #8caeb0;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}

.column3 {
  width: 400px;
  float: left;
  text-align: center;
  font-family: sans-serif;
  background-color: #8caeb0;
  color: #ffffff;
  margin-left: 5px;
  margin-right:5px;
}

img.main {
  width: 1200px;
}
